.root {
  height: 100vh;
}
.image {
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.paper {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}
.avatar {
  margin: 8px;
  background-color:  #0F368A;
}
.MuiAvatar-colorDefault.MuiAvatar-root {
  background-color: #0F368A;
}

.MuiButton-containedPrimary{
  background-color: #212121 !important;
  margin-top: 10px !important;
}

a {
  color: #28488A !important;
  font-size: 16px;
}

form {
  width: 100%; /* Fix IE 11 issue. */
  margin-top: 8px;
}

.submit {
  margin: 24px 0px 16px;
}

.MuiFormControl-marginNormal{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}