.layout {
  height: 100vh;
  width: 100vw;
  background-color: #373734;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paper {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 80%;
}

.imageBackground {
  width: 100vw;
  height: 100vh;
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form {
  width: 100%;
  margin-top: 20px;
}

.submit {
  margin-top: 20px;
}

button.MuiButtonBase-root.MuiButton-root.submit.MuiButton-contained.MuiButton-containedPrimary.MuiButton-fullWidth{
  background-color: #CE1126;
}

a{
  color: #3F51B5;
}

.avatar {
  margin: 10px;
  background: #373734;
}